<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>À propos - Trombinoscope</title>
        <link rel="icon" href="../data/images/favicon.png"/>
        <link rel="stylesheet" href="css/authentification.css"/>
    </head>
    
    <header>
        <a href="../index.php">
            <h1>IUT Metz - Trombinoscope</h1>
        </a>
    </header>
    <hr>
    <body>
        <p>
            Ce service web a été développé par les étudiants Alaca Samet et<br>
            Mathis Aurélien dans le cadre d'un projet web pour l'IUT de Metz.<br>
            <br>
            Honnêtement, ce service est l'un des meilleurs que vous<br>
            trouverez sur Internet... en 1996...<br>
            Effectivement, en toute modestie, il vous propose un nombre<br>
            très limité de fonctionnalités, les unes plus passionnantes<br>
            <i>(d'inutilité)</i> que les autres.<br><br>
            
            Il vous permet même d'envoyer des images !<br>
            Allez, inscrivez-vous.<br>
            Ah mince... vous ne pouvez pas !<br>
            Bon bah tant pis hein.. à moins que vous réussissiez à entrer<br>
            autrement... :)
        </p>
    </body>
    <br/>
    <footer>
        <hr>
        <p>
            © 2016 IUT Metz <br/>
            <a href="#">À propos</a>
        </p>
    </footer>
    
</html>