html { height: 100%; }

* {-moz-box-sizing: border-box; box-sizing: border-box;}

body
{
    font-family: "Segoe UI Symbol";
    text-align: center;
    background-color: #333;
    /*background-image: url('../../data/images/background.jpg');*/
    color: lightgray;
    margin: 0;
    min-height: 95%;
    height: 95%;
    position: relative;
    padding-bottom: 100px;
}

hr
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

a
{
    color: lightgray;
    text-decoration: none;
    transition: 0.7s;
}

a:hover
{
    color: #666;
}

fieldset
{
    min-height: 1%;
    height: 1%;
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
    border-color: lightgray;
    background-color: #222;
    transition: 0.7s;
}

fieldset:hover
{
    border-color: #666;
}

/* ******************** *\
        Dialog
/* ******************** */

#div_dialog_overlay
{
    display: none;
    opacity: .5;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}

#div_dialog_box
{
    display: none;
    position: fixed;
    background: #4486F6;
    box-shadow: 10px 10px 5px #333;
    width: 500px;
    z-index: 10;
}

#div_dialog_box > div
{
    background: #FFF;
    margin: 8px;
}

#div_dialog_box > div > #div_dialog_box_head
{
    background: #333;
    font-size: 19px;
    padding: 10px;
    color: #CCC;
}

#div_dialog_box > div > #div_dialog_box_body
{
    background: #999;
    padding: 20px;
    color: #FFF;
    text-align: left;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    
    font-family: "Consolas";
}

#div_dialog_box > div > #div_dialog_box_foot
{
    background: #333;
    padding: 10px;
    text-align: right;
}

.btn_dialog
{
    margin-right: 5px;
    background-color: #4486F6;
    border: 2px solid #4486F6;
    color: white;
    height: 25px;
    cursor: pointer;
    transition: 0.7s;
}

.btn_dialog:hover
{
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
}


#div_loader { display: none; }

.loader
{
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.circles
{
    border-radius: 35px;
    border: 3px solid transparent;
    border-top-color: #4486F6;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.circles:after
{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 35px;
    border: 3px solid transparent;
    border-top-color: #4486F6;
    border-left-color: #4486F6;
    opacity: 0.8;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.dot
{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    background-color: white;
}

@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}


.img_student
{
    width: 138px;
    height: 138px;
    display: block;
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: auto;
}

.ipt_file
{
    width: 138px;
    margin-bottom: 5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#fset_connexion_info
{ 
    width: 19%;
    text-align: left;
}

#div_action_list
{
    width: 100%;
    height: 11%;
    overflow: hidden;
    border-top: inset lightgray;
}

#div_action_content { display: none; }

#fset_content
{
    min-width: 75%;
    max-width: 75%;
    padding: 0;
    padding-top: 5px;
}

#div_content 
{
    width: 100%;
    height: 85%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: inset lightgray;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.button
{
    width: 138px;
    height: 27px;
    border: 2px solid #666;
    background-color: #666;
    color: white;
    cursor: pointer;
    outline: none;
    transition: 0.7s;
}

.button:hover
{
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
}

.button:active 
{
    background-color: rgba(0, 0, 0, 0);
    border-color: darkred;
}

.button:disabled
{
    background-color: #333;
    border-color: #333;
    cursor: default;
}

.button:disabled:hover
{
    border-color: #333;
    background-color: #333;
}

.deconnect
{
    margin: 0px;
    width: 155px;
    height: 32px;
    margin-top: 10px;
    background-image: url('../../data/images/log_out.png');
    background-repeat: no-repeat;
    background-position: left;
}
